.nested-fields
  - unless defined?(intermediate)
    %h3 Intermediate point 
  = f.input :name
  = f.input :latitude
  = f.input :longitude
  = link_to_remove_association "Remove intermediate point", f, class: 'btn btn-default pull-right margin-left' unless defined?(intermediate)
