- if current_user == ride.owner
  %h3 Requests for this ride
  - if requests.first != nil
    - requests.each do |request|
      = render partial: 'rides/request', locals: { request: request }
  - else
    %p Nobody requested for this ride yet. 
- elsif ride.request_status(current_user) != nil
  %h3 Your request for this ride:
  Status:
  %span.text-uppercase.btn.btn-primary= ride.request_status(current_user)
  