= render partial: 'rides/ride', locals: { ride: ride, show_link: false }
.row  
  .col-sm-12
    %h3 Requests for this ride
    -# if user_rides
      -# user_rides.each do |user_ride|
        =# render partial: 'rides/request'
    -# else
      %p Nobody requested for this ride yet.