%nav.navbar.navbar-default{ role: 'navigation' }
  .navbar-header
    %button.navbar-toggle{ data: { target: '.navbar-ex1-collapse', toggle: 'collapse' }, type: 'button' }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Bulbacar', root_url, class: 'navbar-brand'
  .collapse.navbar-collapse.navbar-ex1-collapse
    = render partial: 'layouts/login_box'
